<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - The Chess Website</title>
    <style>
        /* p {
            color: black;
            background-color: grey;
        }
        li {
            padding: 10px;
            margin-bottom: 10px;
            font-family:'Times New Roman', Times, serif;
            /* color: rgb(255, 153, 0); */
            /* background-color: black; */
            /* font-style: bold; */
            
        /* }  */
    </style>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>This is a body from home.html</h1>
    <p>Testing</p>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
</body>
</html>