<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - The Chess Website</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <ul>
        <li>homepage icon to click on</li>
        <li>chat icon to click on</li>
        <li>logout icon to click on</li>
    </ul>
    <div class="hero-container">Welcome to the Chess Website</div>
    <div class="container" style="width: 40%;">
        <div>Div 1</div>
        <div>Div 2</div>
        <div>Div 3</div>
    </div>
</body>
</html>