<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - The Chess Website</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <ul>
        <li>
            <a href="/">
                <img class="logo" src="/images/chess_logo_small.png" alt="Home page logo"/>
            </a>
        </li>
        <li>
            <a href="/chat">
                <img class="logo" src="/images/chat_logo.png" alt="Chat page logo"/>
            </a>
        </li>
        <li>
            <a href="/logout">
                <img class="logo" src="/images/logout_logo.png" alt="Logout page logo"/>
            </a>
        </li>
    </ul>
    <div class="hero-container">Welcome to the Chess Website</div>
    <div class="container" style="width: 40%;">
        <div>Div 1</div>
        <div>Div 2</div>
        <div>Div 3</div>
    </div>
</body>
</html>